*{
    padding: 0px;
    margin: 0px;}

header{
    position: fixed;
    width: 100%;
    margin-top: 20px;
    z-index: 3;
}

@font-face {
    font-family: Hello-Avocado;
    src: url(./fonts/Hello\ Avocado.ttf);
}

/* ancho */
.nav-bar{
    display: flex;
    background-color: #00CCFF;
    opacity: 90%;
    height: 100px;
    width: 80%;
    margin:auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    
}
.logo-container{
    display: flex;
    width: 20%;
    height: 100%;
    float: left;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 90px;

}
a {text-decoration: none;}
li {list-style: none;}

.nav-list {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 80%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.nav-list li a{
    font-family: hello-avocado;
    margin-right: 30px;
    text-decoration: none;
    color:#ffcc33;
    text-shadow: -2px 2px 0px rgba(0,0,0,0.6);
    font-size: 2em;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90px;
    width: 140px;
    margin: 5px;
    background-color: rgb(87, 141, 185);
    border-radius: 10px;
    padding: 0;
    justify-content: center;
}

.bttn-nav{
    text-decoration: none;
    text-align: center;
    text-shadow: #e0e0e0 1px 1px 0;
    font-family: hello-avocado;
    color: rgb(0, 114, 255);
    font-size: 30px;
    
}
/* navpropiedadesde color y forma */
.bttn-nav{
    border: 0;
    outline: 0;
    height: 40px;
    width: 95%;
    border-radius: 6px;
    margin: 2px;
    background-image: linear-gradient(to top right, #ff8f33, #ffc935);

}

.bttn-nav:hover{
    cursor: pointer;
    transform: translate(-3)
    
}

li a:hover{
    color: #ffffff;
}

/* .button{
    
} */

.portada{
    width: 100%
}
.qs-container{
    display: flex;
    width: 100%;
    /* height: 500px; */
    background-color: rgb(0,114,255);
    flex-wrap: wrap;
    
}

.qs-background{
    position: relative;
    top: -250px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,114,255,1) 0%, rgba(0,204,255,1) 75%, rgba(0,212,255,0) 100%); 
}

.carousel{
    max-width: 600px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}

.flex-container{
    position: relative;
    top:200px;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.article{
    margin: 40px;
    height: auto;
    max-width: 350px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

h2{
    font-family: hello-avocado;
    margin-top: 24px;
    text-decoration: none;
    color:rgb(255,204,51);
    text-shadow: -2px 2px 0px rgba(0,0,0,0.6);
    text-align: center;
}

p{
    font-size: 1.2em;
    padding: 20px;
    text-align: justify;
}

.container-eventos{
    background-image: url(/Images/eventos.jpg);
    background-size: cover;
    /* padding: 40px; */
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 100px;
    z-index: 2;
}

.fotos-eventos{
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    width: 80%;
    margin-left: 40px;
}

.img-grid{
    max-width: 220px;
}

.text-bttn{
    font-family: hello-avocado;
    font-size: 1.4em;
    text-decoration: none;
    color:rgb(255,204,51);
    text-shadow: -2px 2px 0px rgba(0,0,0,0.6);
    text-align: center;
    

}
.bttn{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: none;
    background-color: rgb(0, 204, 255);
    object-position: center;
    box-shadow: -2px 2px 0px rgba(0,0,0,0.6);
    
}

.bttn:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: rgba(0,114,255,1);
}

.position-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* .card-eventos{
    padding: 30px;
}
    */

.contact-form{
    display: block;
    font-weight: bold;
}

.contact-form div{
    margin-bottom: 10px;
}

.contact-form input{
    width: 100%;
    margin: 4px;
    background-color: rgb(217, 252, 255);
    outline: 3px solid rgba(0,204,255,1);
    border: none;
    border-radius: 4px;
}

.contact-form textarea{
    width: 100%;
    background-color: rgb(217, 252, 255);
    outline: 3px solid rgba(0,204,255,1);
    border: none;
    border-radius: 4px;
}

.contact-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(255,204,51);
    justify-content: space-around;
}